body{
    margin: 0;
}
.header .nav{
    background-color: #00412692;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav .logo{
    width: 50px;
}
.nav .links{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
 
.nav .links a{
    color: white;
    text-decoration: none;
}
.hero{
    position: relative;
    padding-left: 20px;
    background-color: rgb(6, 134, 134);
    padding: 10px;
    height: 100%;
}

.hero .colorbanner{
    width: 50%;
    height: 450px;
}

.bodytext{
    height: 20;
    color: rgb(255, 255, 255);
    font-size: x-large;
    margin-left: 4em;
    margin-top: 8em;
}

.hero img{
    width: 50%px;
    position: absolute;
    right: 5px; top: 0;
    margin: 5%;
}